#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 70%;
  margin: 50px;
  padding: 90px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-right: 200px;
  
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group-item {
  padding: 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  list-style: none;
}

.list-group-item:hover {
  background-color: #eaeaea;
}

.list-group-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.add-button {
  display: flex;
  justify-content:space-between;
}

.add-button button {
  font-size: 24px;
  padding: 10px;
  color: #0248de;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
}


.contact-details h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid #eae8e8;
  padding-bottom: 15px;
}

.cont{
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;  
}

.contact-details p {
  font-size: 16px;
  margin: 15px 0;
}

.contact-details a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.contact-details a:hover {
  text-decoration: underline;
}

form {
  border: 1px solid #ccc;
  padding: 20px;

}
.form-group {
  margin-bottom: 15px;
  padding: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add-button .cont{
  font-size: small;
}
button.delete {
  background-color: #dc3545;
  margin-top: 10px;
}

button.delete:hover {
  background-color: #c82333;
}
.btn, .edt, .upt{
  background-color:blueviolet;
}
.btn, .edt, .upt:hover{
  margin-right: 10px;
}
a.back-link {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #007bff;
}

a.back-link:hover {
  text-decoration: underline;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
